<%- include ../partials/header %> <%- include ../partials/categories-navbar %>

<div class="container-fluid">
  <!-- Flash messages -->
  <% if(successMsg || errorMsg) {%>
  <div class="row mt-3 mb-3">
    <div class="col-md-12 m-auto">
      <% if (successMsg) { %>
      <div id="success" class="alert alert-success"><%= successMsg %></div>
      <% } else { %>
      <div id="success" class="alert alert-success d-none"></div>
      <% } %>
    </div>
    <div class="col-md-12 m-auto">
      <% if (errorMsg) { %>
      <div id="error" class="alert alert-danger"><%= errorMsg %></div>
      <% } else { %>
      <div id="error" class="alert alert-danger d-none"></div>
      <% } %>
    </div>
  </div>
  <% } %>
  <!-- Breadcrumbs -->
  <div class="row mt-2">
    <div class="col-md-12 m-auto">
      <%if (breadcrumbs) { %>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <% breadcrumbs.forEach(crumb => { if(!crumb.name.startsWith("?")){%>
          <li class="breadcrumb-item" aria-current="page">
            <a href="<%=crumb.url%>"><%= crumb.name %></a>
          </li>
          <%}})%>
        </ol>
      </nav>
      <%} %>
    </div>
  </div>
  <!-- Page banner image -->

  <% if(pageName == 'All Products') { %>
  <div class="text-center hero-container">
    <img
      class="d-block w-100 hero-image"
      src="/images/banner-all-products.jpg"
    />
    <div class="hero-text">
      <h1><%=pageName%></h1>
    </div>
  </div>
  <%} else {%> <%categories.forEach( category => {%> <%if(pageName ==
  category.title){%>
  <div class="text-center hero-container">
    <img
      class="d-block w-100 hero-image"
      src="/images/banner-<%=category.slug%>.jpg"
    />
    <div class="hero-text">
      <h1><%=pageName%></h1>
    </div>
  </div>
  <%}%> <%})%> <%}%>

  <hr class="gradient-style" />
  <!-- Contents -->
  <div class="row">
    <div class="col-lg-2">
      <div class="row1">
        <div class="wrapper">
          <div class="div">
            <h3>Filter</h3>
          </div>
          <h6>Price range</h6>
          <div class="container filter">
            <div class="slider-track"></div>
            <input
              type="range"
              min="0"
              max="100"
              value="<%=min%>"
              id="slider-1"
              oninput="slideOne()"
            />
            <input
              type="range"
              min="0"
              max="100"
              value="<%=max%>"
              id="slider-2"
              oninput="slideTwo()"
            />
          </div>
          <div>
            <div class="flex space-between">
              <span>Minimum</span>
              <span>Maximum</span>
            </div>
            <div class="flex">
              <input type="text" id="range1" name="min" />
              <span class="pl-1 pr-1">----</span>
              <input type="text" id="range2" name="max" />
              <input type="hidden" name="page" value="<%=current%>" />
              <% if(search) { %>
              <input type="hidden" name="search" value="<%=search%>" />
              <%} %>
            </div>
            <label for="sort-by">Sort by</label>
            <select name="sort-by" id="sort-by">
              <option value="createdAt-asc">Created Ascending</option>
              <option value="createdAt-desc">Created Descending</option>
              <option value="price-asc">Price Ascending</option>
              <option value="price-desc">Price Descending</option>
            </select>
            <div id="btn-filter">
              <% if(pageName == 'All Products' || pageName == 'Search Results')
              { %>
              <button
                class="button-style btn btn-filter"
                onclick="setFilter(1,'<%=home%>')"
              >
                Apply
              </button>
              <%} else { %>
              <button
                class="button-style btn btn-filter"
                onclick="setFilter(1,'<%=home%>')"
              >
                Apply
              </button>
              <%} %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-9">
      <div class="row pl-4 pr-4" id="filterProduct">
        <% products.forEach((product) => { %>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 product-index-box">
          <div class="single-product d-flex flex-column h-100">
            <a
              class="title-link"
              href="/products/<%=product.category.slug%>/<%=product._id%>"
            >
              <img src="<%= product.imagePath %>" alt="Bag" class="img-fluid"
            /></a>
            <div class="product-info">
              <a
                class="title-link"
                href="/products/<%=product.category.slug%>/<%=product._id%>"
              >
                <h6 class="mt-2 mb-2"><%= product.title %></h6></a
              >
              <div class="price">$<%= product.price %></div>
            </div>
            <% if(product.available) {%>
            <a
              href="/add-to-cart/<%=product._id%>"
              class="btn btn-block btn-secondary button-style mt-auto mb-2"
            >
              Add to Shopping Cart
            </a>
            <% } else { %>
            <a
              href="#"
              class="btn btn-block btn-danger button-style-danger mt-2 mb-2"
            >
              Sold out
            </a>
            <%} %>
          </div>
        </div>
        <% }) %>
      </div>
      <%- include ../partials/pagination %>
    </div>
  </div>
</div>
<%- include ../partials/footer %>
